<section id="two"> 
	
	<div id="box">
		
		<h4>
			A project to collect and curate woodland<br> photography from around the world.
		</h4>
			
		<div class="button">
			<a href="http://readcereal.com/" target="_blank">COMING SOON</a>
		</div>
		
	</div>
		
</section>