<section id="five"> 
	
	<h3>
		THE EVENT
	</h3>
	
	<p>
		<br>18 Hewett Street is a concept space in the heart of East London. Housed in a 3-storey warehouse, 18HS lives <br>as a blank canvas for what’s good in all verticals of the creative world. 
	</p>

		<div id="hewett_st_1"></div>
		<div id="hewett_st_2"></div>

</section>