<section id="five"> 
	
	<h3>
		THE EVENT
	</h3>
	
	<p>
		<br>The exhibition will take place at the end of September 2013<br> at Protein's London Gallery space, <a href="http://18hewettstreet.co.uk" class="hewett" target="_blank"><strong>18 Hewett Street</strong></a>.
	</p>
	

		<div id="hewett_st_1"></div>
		<div id="hewett_st_2"></div>

</section>