<section id="five"> 
	
	<h3>
		THE EVENT
	</h3>
	
	<p>
		<br>The exhibition will take place on 25 September, 2013 at Protein’s London<br> gallery space, <a href="http://18hewettstreet.co.uk" class="hewett" target="_blank"><strong>18 Hewett Street</strong></a> from 7-9pm.
	</p>
	

		<div id="hewett_st_1"></div>
		<div id="hewett_st_2"></div>

</section>