<section id="footer"> 

	<footer>
		
		<nav id="brands"> 
			<a href="http://prote.in" id="cereal" target="_blank">Protein</a>
			<a href="http://readcereal.com/" id="protein" target="_blank">Cereal Mag</a>
			<a href="http://blackcow.co.uk/" id="black-cow" target="_blank">Black Cow Vodka</a>
		</nav>
	
	</footer>

</section>