<a id="2"></a>

<section id="four"> 
	
	<h3>
		THE PROJECT
	</h3>
	
	<p>
		<br>The project is a collaboration between <a rhef="http://prote.in" target="_blank">Protein</a> and <a rhef="http://readcereal.com/" target="_blank">Cereal Magazine</a> to curate a photography<br> exhibition titled, ‘Forest’. Both parties are inviting their readers to submit photos with a forest theme to be<br> considered for inclusion in the exhibition. The chosen images will also be published as a photo essay in <br>Cereal Volume 4. Prints of the final photography will be sold on the night of the event, with all<br> proceeds being donated to the <a rhef="http://internationaltreefoundation.org/" target="_blank">International Tree Foundation</a>. 
	</p>

		<div id="protein_logo"></div>
		<div id="x">X</div>
		<div id="cereal_logo"></div>

</section>