<section id="four"> 
	
	<h3>
		THE PROJECT
	</h3>
	
	<p>
		<br>18 Hewett Street is a concept space in the heart of East London. Housed in a 3-storey warehouse,<br> 18HS lives as a blank canvas for what’s good in all verticals of the creative world. 
	</p>

		<div id="protein_logo"></div>
		<div id="x">X</div>
		<div id="cereal_logo"></div>

</section>