<a id="2"></a>

<section id="four"> 
	
	<h3>
		THE PROJECT
	</h3>
	
	<p>
		<br>The project is a collaboration between Protein Gallery and Cereal Magazine to curate a photography<br> exhibit titled, ‘Forest’. Both parties are inviting their readers to submit photos with a forest theme to be<br> considered for inclusion in the exhibit. The chosen images will also be published as a photo essay in <br>Cereal Volume 4. Prints of the exhibit photography will be sold on the night of the event, with all<br> proceeds being donated to the International Tree Foundation. 
	</p>

		<div id="protein_logo"></div>
		<div id="x">X</div>
		<div id="cereal_logo"></div>

</section>