<section id="six"> 
	
	<h3>
		ENTER A PHOTO
	</h3>
	
	<p>
		To enter your photo, simply use the upload button below.<br> For image guidelines <a class="gallery" href="#window_content"> <strong>click here.</strong></a>
	</p>


	<div class="button">
		<%= link_to "UPLOAD", new_photo_path %>
	</div>

	<div id="window_content">
		<p></p>
	</div>

	<p>
		<br><small>Submissions open till 5PM GMT 26th August 2013.</small>
	</p>

</section>

