<section id="six"> 
	
	<h3>
		ENTER A PHOTO
	</h3>
	
	<p>
		Unfortunately, submissions have now closed.

	<p>	
		Thank you to everyone who submitted a forest photograph. We have received an<br> overwhelming number of entries and we will now undertake the almost impossible<br> task of choosing a selection for the exhibition and magazine feature. 
	</p>

	<p> 
		<br>In the meantime, please have a look at the image gallery.



		<!-- To enter your photo, simply use the upload button below.<br> For image guidelines <a class="gallery" href="#window_content"> <strong>click here.</strong></a> -->
	</p>


	<div class="button">
		<%= link_to "SEE MORE", photos_path %>
	</div>

	<div id="window_content">
		<p></p>
	</div>

	<!-- <p> -->
		<!-- <br><small>Submissions open till 5PM GMT 26th August 2013.</small> -->
	<!-- </p> -->

</section>

