<section id="six"> 
	
	<h3>
		ENTER A PHOTO
	</h3>
	
	<p>
		<br>To enter your photo, simply use the upload button below.<br> For image guidelines <a href="http://readcereal.com/protein-x-cereal-forest-gallery/#comments" target="_blank"><strong>click here.</strong></a>
	</p>

	<div class="button">
		<%= link_to "UPLOAD", new_photo_path %>
	</div>

</section>