	<a id="2"></a>

<section id="three"> 
	
	<h3>
		RECENT SUBMISSIONS
	</h3>

	<div id="recent_photos">

		<% @photos.each do |img| %>
	
			<div class="recent">
				<%= link_to image_tag(img.image, alt: img.first_name, width:"350", height:"200"), photo_path(img) %>
			</div>
		
		<% end %>
	
	</div>
	
	<div class="clear_fix"></div>
	
	<div class="button">
		<%= link_to "SEE MORE", photos_path %>
	</div> 
	
	
	
</section>