<section id="two"> 
	
	<div id="box">
		
		<h4>
			A project to collect and curate woodland<br> photography from around the world.
		</h4>
			
		<div class="button">
			<a class="scroll" href="#2">READ MORE</a>
		</div>
		
	</div>
		
</section>
